@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #D3E0EA;
}

ul{
    list-style: none;
}

main{
    margin: 1rem;
    display: grid;
    grid-template-columns: 32.8% 1fr;
    grid-gap: 1rem;
    filter: drop-shadow(0 0 0.4rem grey);
}
.personal, .skills, .language{
    padding: 1rem;
    line-height: 3; 
    
}
.left-img{
    position: relative;
}
.left-img img{
    width: 100%;
    height: auto;
}

.left{
    background-color: #F6F5F5;   
}

.checked {
    color: #6886C5;
  }

.right{
    background-color: #F6F5F5;
    padding: 2rem;
}

.Present{
    background-color: #276678;
    color: #F6F5F5;
    padding: 0.4rem;
    border-radius: 4px;
}

.EduandAct{
    line-height: 2;
}
.Education{
    font-size: 30px;
}

.list-1{
    padding: 1rem;
    margin: 1rem;
}

.list-2{
    bottom: 10px;
    list-style: circle;
    list-style-position: inside;
}
.edutitle{
    font-weight: bold;
    color: #1687A7;
}